* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/img/kertasbcg.jpeg');
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.nav a:hover {
    color: rgb(255, 255, 255);
    transition: 0.8s;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(247, 247, 247);
}

.containerC {
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerH {
    text-align: flex-start;
    background-color: rgba(252, 252, 252, 0.692);
    width: 300px;
    height: auto;
    margin: 50px;
    margin-top: 70px;
    padding: 50px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: solid 1px black;
    border-radius: 10px;
    float: left;
}

.containerH .profil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 2px rgb(255, 255, 255);
}

.containerCard {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: auto;
    gap: 20px;
}

.con {
    margin-top: 100px;
}

.containerCon {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contentCntac {

    width: 600px;
    height: 500px;
    text-align: center;
}

.contentCntac .profil {
    display: flex;
    justify-content: center;
    margin-top: 20px;


}

.profil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    border: solid 2px rgb(255, 255, 255);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 10px;
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.icon a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.8s;
}

.clos {
    margin: 10px;
    text-align: center;
    color: rgb(250, 250, 250);
}

/* about */

.containerAb {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 80px;
    padding: 20px;
    border: solid 3px;
    border-radius: 10px;


}

.contentAb {
    background-color: rgb(255, 255, 255);
}


.containerAb a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 50px;
    margin-right: 20px;

}

.containerAb a:hover {
    background-color: darkgray;
    transition: 0.8s;

}

.gambar {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gambar img {
    width: 350px;
}

/* .gambar .nam {
    border-top: 2px solid;
} */

/* contacCard */



.containerCardContac {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardContac h4 {
    text-align: center;
}

.cardContac {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: auto;
    width: 600px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.cardContac label {
    margin-top: 20px;
}

.cardContac input {
    border: none;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cardContac select {
    border: none;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cardContac textarea {
    border: none;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    resize: none;
    height: 100px;
}

.cardContac button {
    width: 80px;
    background-color: black;
    color: white;
    margin-top: 20px;
    border-radius: 100px;
    border: solid black;
}

.cardContac button:hover {
    width: 80px;
    background-color: darkgray;
    transition: 0.8s;
    border: solid rgba(255, 255, 255, 0.742);
    border-radius: 100px;

}

/* myproject */

.containerMyProject{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.cardForm{
    background-color: rgb(255, 255, 255)  ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form label{
    display: block;
}
form input{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: azure;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form textarea{
    border: none;
    border-radius: 5px;
    padding: 5px;
    resize: none;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tec{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
form label{
    margin-top: 10px;
}

.tec label{
    display: flex;
    align-items: center;
}

form button{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}






/* projet list */

.hasil{
    background-color: rgb(255, 255, 255);
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    padding: 20px;  
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cardHasil img{
    width: 20px;
    height: 10%;
    object-fit: cover;
}

.ContainerHasil h2{
    text-align: center;
    margin-top: 50px;
}

.hasil .cardHasil{
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* show */

.showproject{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.642);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    top: 0;
    left: 0;

}

.showproject.active{
    display: flex;
}

.detailCard{
    background-color: white;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    align-items: start;
    text-align: start;
    padding: 10px;
}

.detailCard img{
    background-color: black;
    width: 40%;
    height: 40%;
    float: left;
    object-fit: cover;
    border-radius: 5px;
}

.detailCard .butoncon{
    display: flex;
    justify-content: flex-end;
}