*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('kertasbcg.jpeg');   
}
.containerC{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content{
    text-align: flex-start;
    background-color: rgba(255, 255, 255, 0.692);
    width: 600px;
    height: auto;
    margin: 50px;
    padding: 50px;
   box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   border: solid 1px black;
   border-radius: 10px;
}
.card1{
    justify-content: center;
    display: flex;
    align-items: center;
}




.containerCon{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contentCntac{
    
    width: 600px;
    height: 500px;
    text-align: center;
}

.profil{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    
}
.profil img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    border: solid 2px rgb(255, 255, 255);
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.icon a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 10px;
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.icon a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.8s;
}

.clos{
    margin: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}